* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 24px;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

header .nav-link {
  padding: 1rem;
}
.nav-link {
  background-color: rgb(15, 15, 15);
  width: 100%;
  text-align: center;
}
.nav-link a {
  color: white;
  text-decoration: none;
}

.nav-link:hover {
  background-color: rgb(46, 46, 46);
}

main {
  display: grid;
  grid-template-areas: "introduction introduction cards" "introduction introduction cards";
  grid-template-columns: repeat(3, 1fr);
}

.introduction-information {
  background: url(images/IMG_0972.PNG) no-repeat;
  background-size: cover;
  grid-area: introduction;
  padding: 3rem;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;

  color: white;
  aspect-ratio: 1 / 1;
}

/* .card-container {
  grid-area: cards;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  position: absolute;
} */

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
