* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 20px;
  font-family: "Roboto Condensed", sans-serif;
}
html {
  scroll-behavior: smooth;
}

body {
  display: grid;
  grid-template-areas: "header main main main" "header main main main" "header main main main" "footer footer footer footer";
  grid-template-columns: 150px repeat(3, auto);
  grid-template-rows: auto auto auto 1fr;
  min-height: 100vh;
}

nav ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-evenly;
  list-style-type: none;
}

.nav-link {
  background-color: rgb(15, 15, 15);
  width: 100%;
  text-align: center;
  padding: 1rem;
}

.nav-link a {
  color: white;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
}

.selected a {
  color: rgb(70, 172, 255);
  font-weight: bold;
}

.blue {
  color: rgb(70, 172, 255);
}

.nav-link:hover {
  background-color: rgb(46, 46, 46);
}

header nav ul {
  grid-template-columns: repeat(1, 1fr);
}

header {
  grid-area: header;
  background-color: rgb(15, 15, 15);
}

header .nav-link {
  border-bottom: 2px solid rgb(25, 25, 25);
}

footer .nav-link {
  border-left: 2px solid rgb(25, 25, 25);
}

footer .nav-link:first-child {
  border: none;
}

main {
  padding: 1rem;
  background: radial-gradient(rgb(35, 35, 35), rgb(25, 25, 25));
}

h1,
h1 .blue {
  font-size: 3rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.5rem;
}

main {
  grid-area: main;
  text-align: center;
  background-color: rgb(25, 25, 25);
  color: white;
}

footer {
  grid-area: footer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(15, 15, 15);
  gap: 1rem;
}

footer > * {
  width: 100%;
}

.contact-information {
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
}

.contact-information div {
  display: flex;
  text-align: center;
  justify-content: center;
}

.contact-information div p {
  text-align: center;
  border-left: 2px solid rgb(25, 25, 25);
  padding: 0 0.2rem;
}

.contact-information div p:first-child {
  border: none;
}

.contact-information * {
  font-size: 0.65rem;
}

.inactive {
  opacity: 0;
}

.active {
  animation: bounceIn 1s forwards;
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 100%;
  }
}

@media (max-width: 800px) {
  * {
    font-size: 16px;
  }

  body {
    grid-template-areas: "header" "main" "main" "footer";
    grid-template-columns: 1fr;
  }

  header nav ul {
    grid-template-columns: repeat(4, 1fr);
  }

  header .nav-link {
    border: none;
    border-left: 2px solid rgb(25, 25, 25);
    padding: 1rem 0;
  }

  header .nav-link:first-child {
    border: none;
  }

  footer {
    flex-direction: column-reverse;
  }

  footer nav {
    margin-bottom: 2rem;
  }
}

@media (max-width: 500px) {
  * {
    font-size: 14px;
  }
  header nav ul,
  footer nav ul {
    grid-template-columns: repeat(2, 1fr);
  }
}
