* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

body {
  display: grid;
  grid-template-areas: "header main main main" "header main main main" "header main main main" "footer footer footer footer";
  grid-template-columns: 150px repeat(3, auto);
  grid-template-rows: auto auto auto 1fr;
  min-height: 100vh;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

.nav-link {
  background-color: rgb(15, 15, 15);
  width: 100%;
  text-align: center;
  padding: 1rem;
}

.nav-link a {
  color: white;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
}

.nav-link:hover {
  background-color: rgb(46, 46, 46);
}

header nav ul {
  flex-direction: column;
}

header {
  grid-area: header;
  background-color: rgb(15, 15, 15);
}

header .nav-link {
  border-bottom: 1px solid rgb(181, 181, 181);
}

footer .nav-link {
  border-left: 1px solid rgb(181, 181, 181);
}

footer .nav-link:first-child {
  border: none;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
h2 {
  font-size: 1.5rem;
}

main {
  grid-area: main;
  text-align: center;
  background-color: rgb(25, 25, 25);
  color: white;
}

footer {
  grid-area: footer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(15, 15, 15);
  padding: 1rem;
  gap: 2rem;
}

footer > * {
  width: 100%;
}

.contact-information {
  color: rgb(181, 181, 181);
}

@media (max-width: 800px) {
  * {
    font-size: 16px;
  }

  body {
    grid-template-areas: "header" "main" "main" "footer";
    grid-template-columns: 1fr;
  }

  header nav ul {
    flex-direction: row;
  }

  header .nav-link {
    border: none;
    border-left: 1px solid rgb(181, 181, 181);
    padding: 1rem 0;
  }

  header .nav-link:first-child {
    border: none;
  }

  footer {
    flex-direction: column-reverse;
  }
  footer nav {
    margin-bottom: 2rem;
  }
}
