main {
  padding-top: 1rem;
  background: radial-gradient(rgb(46, 46, 46), rgb(15, 15, 15));
}
.card-section {
  display: flex;
  flex-direction: column;

  text-align: center;
  justify-content: space-around;
  color: white;
  padding-top: 1rem;
}

.card-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vw;
}

.card {
  position: absolute;
  width: 30vw;
  transition: transform 0.8s ease-out;
}

.card img {
  width: 100%;
}

@keyframes fadeIn {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  30% {
    opacity: 0;
    transform: scale(0);
  }
  60% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.fade-in-animation {
  animation: fadeIn 1s;
}

.card:nth-of-type(1) {
  transform: translateX(6%) rotate(6deg);
}

.card:nth-of-type(2) {
  transform: translateX(2%) rotate(-5deg);
}

.card:nth-of-type(3) {
  transform: translateX(-2%) rotate(3deg);
}

.card:nth-of-type(4) {
  transform: translateX(6%) rotate(10deg);
}

.card-container:hover > .card:nth-of-type(1) {
  transform: translate(75%, 10%) rotate(15deg);
}

.card-container:hover > .card:nth-of-type(2) {
  transform: translate(25%, 0) rotate(6deg);
}

.card-container:hover > .card:nth-of-type(3) {
  transform: translate(-25%, 0) rotate(-6deg);
}

.card-container:hover > .card:nth-of-type(4) {
  transform: translate(-75%, 10%) rotate(-15deg);
}

.card-buttons {
  display: flex;
  gap: 4rem;
  justify-content: center;
  margin-bottom: 2rem;
}

.card-buttons button {
  display: block;
  border-radius: 2rem;
  border: none;
  background-color: rgba(15, 15, 15, 0.8);
  cursor: pointer;
}
.card-buttons button:hover > i {
  transform: scale(1.2);
}
.card-buttons button i {
  font-size: 3rem;
  color: white;
  padding: 1rem;
  transition: transform 0.3s;
}

.project-links {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.project-link a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  text-align: left;
  padding: 2rem;
  background-color: rgba(15, 15, 15, 0.75);
  border-radius: 1rem;
  text-decoration: none;
  color: white;
}
.project-link i {
  font-size: 2rem;
}
.project-link p {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.75);
}
.project-link h3 {
  font-size: 1.2rem;
}

.project-link {
  position: relative;
}

.project-link:hover > .sweep-cover {
  visibility: visible;
  animation: sweepToRight 0.8s forwards;
}

.sweep-cover {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: white;
  visibility: hidden;
  border-radius: 1rem;
  display: block;
}

@keyframes sweepToRight {
  0% {
    width: 0%;
    right: auto;
  }
  50% {
    width: 100%;
    right: auto;
  }
  51% {
    right: 0;
  }
  100% {
    width: 0%;
    right: 0;
  }
}

@media (max-width: 800px) {
  .card-container {
    height: 60vw;
  }
  .card {
    width: 35vw;
  }
}
