.skills ul {
  text-align: left;
  list-style-position: inside;
  margin-bottom: 1rem;
}
.skills li {
  padding: 0.3rem;
}
.skills {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.skills section {
  background-color: rgba(15, 15, 15, 0.75);
  padding: 2rem;
  border-radius: 2rem;
}

.skills h2 {
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.2rem;
}
h4 {
  font-size: 1rem;
}

.skills h3,
.skills h4 {
  text-align: left;
}

@media (max-width: 1200px) {
  .skills {
    grid-template-columns: repeat(1, 1fr);
  }
}
